{% extends "layout.html" %}
{% block mainContent %}
    <h1 id="title">{{event.title}}</h1>
    <p>When: <span id ="date">{{event.date}}</span></p>
    <p>Where: <span id ="location">{{event.location}}</span></p>
    <p>Party people: </p>
    <ul id = "attendees">
        {% for person in event.attending %}
        <li>{{person}}</li>
        {% endfor %}
        </ul>
  <p>Want to come to {{event.title}}? Let's get weird!</p>
  {% if errors %}
  <div>
      <ul class="form-errors">
          {% for errors in errors %}
          <li>{{error}}</li>
          {% endfor %}
      </ul>
  </div>
  
  {% endif %}
  
  <img src ="{{event.image}}" id="image">
  <form method="POST">
      <input type="text" name="email" id="email" placeholder="Your email"/>
      <input type="submit" value="Submit"/>
  </form>
{% endblock %}